/* ==========================================================================
   TOGGLE - Theme Switch
   ========================================================================== */

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 15px;
  position: relative;
  width: 30px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--bg-alt);
  border: 1px solid var(--border);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 1px;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  background-color: var(--text-muted);
  bottom: 1px;
  content: "";
  height: 10px;
  left: 2px;
  position: absolute;
  transition: 0.4s;
  width: 10px;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--accent);
  border-color: var(--accent);
}

input:checked + .slider:before {
  transform: translateX(15px);
  background-color: white;
}
